@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.sum {
  background-color: orange;
  margin-top: 0;
  border: 1px solid tomato;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; /* Add padding to space out the content from the borders */
}

span#text {
  font-size: 20px;
  font-weight: bold;
}

span#value {
  font-size: 18px;
  color: #000080;
  font-weight: bold;
}

.heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  color: red;
}

.containerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 400px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 0 0 20px;
}

.backgroundImage {
  display: flex;
  justify-content: flex-end;
}

#backgroundImage {
  width: 50%;
  margin: 0;
}

/* Category Card */
.custom-card {
  height: 100%;
  background-color: #fcfcfc;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #fcfcfc;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

/* footer */

footer {
  padding-top: 20px;
  width: 100%; /* Set width to 100% */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

footer .logo,
img.secured-payments {
  display: block;
  margin: 0 20px 20px 50px;
  width: 15%;
}

img.badges {
  display: block;
  width: 80%;
  margin: 0 20px;
}

img.secured-payments {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  right: 2px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align items to the start of the column */
  padding: 10px;
}

.col a {
  font-size: 15px;
  display: block;
  text-decoration: none;
  /* Remove underlines */
  margin-bottom: 5px;
  /* Add some spacing between links */
  color: #333;
  /* Set the text color */
}

footer .h4-font {
  font-size: 1.5rem;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Make the heading bold */
  margin-bottom: 10px;
  /* Add spacing below the heading */
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

/* Apply double width to the first column in the first row */
.col:first-child {
  grid-column: span 2;
  /* Double width */
}

.copy-right {
  grid-column: span 5;
  padding: 10px;
  text-align: center;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .badges {
  margin-bottom: 50px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  #header {
    padding: 15px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  #navbar li {
    padding: 10px 0;
  }
  #hero {
    background-size: 50%;
    /* Adjust background size for smaller screens */
    padding: 0 20px;
    /* Adjust padding for smaller screens */
  }
  #hero button {
    padding: 10px 40px;
    /* Adjust button padding for smaller screens */
    font-size: 14px;
    /* Adjust button font size for smaller screens */
  }
}
